altair
asttokens 
attrs
backcall 
blinker
cachetools
certifi
charset-normalizer
click
colorama 
comm 
contourpy
cycler
debugpy 
decorator 
executing 
Flask
fonttools
gitdb1
GitPython3
idnamportlib_metadata 
importlib_resources
ipykernel 
ipython 
itsdangerous
jedi 
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client 
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline 
mdurl
narwhals
nest_asyncio 
nltk
numpy
packaging 
pandas
parso 
pickleshare 
pillow
platformdirs 
prompt_toolkit 
protobuf
psutil 
pyarrow
pydeck
Pygments 
pyparsing
python-dateutil 
pytzyzmq 
referencing
regex1
requests
rich
rpds-py
scikit-learn
scipy
six 
smmap
stack-data 
streamlit
tenacity
threadpoolctl
toml
tornado 
tqdm
traitlets 
typing_extensions 
tzdatarllib3
watchdog
wcwidth
Werkzeug
zipp
